@use '_utilities.scss';

body {
    font-family: sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

form {
    width: fit-content;
    label {
        display: block;
        margin-bottom: 0.25rem;
    }
    fieldset {
        margin-bottom: 1rem;
    }
}
